#box {
    background-color: gray;
    width: 500px;
    height: 300px;
    margin: 15px auto;
    padding: 10px;
    justify-content: center;
    text-align: center;
    background-color: gray;
    border-radius: 8px;
}

#options {
    border: none;
    background: cyan;
    
}
#options:hover {
    background-color: rgb(6, 156, 156);
}

#button {
    background-color: cyan;
    width: 35%;
    height: 30px;
    border-radius: 5px;
    border: solid 0px black;
}

#button:hover{
    background-color: rgb(6, 156, 156);
}